.botao {
    height: 50px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}
/*https://th.bing.com/th/id/R.d425f5335ad0ae1a956c8ae704978a36?rik=OpsDULY5nOaq9A&pid=ImgRaw&r=0*/